@use 'styles/mixins';

.home {
    display: none;

    @include mixins.mq(tablet) {
        display: block;

        position: absolute;
        top: 30px;
        left: 10px;
    }
}

.expens {
    position: absolute;
    bottom: -50px;
    left: 0;
    z-index: -1;
}