@use 'styles/mixins';

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 32px;
  padding: 7px 10px;
  background: #ffffff;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  border-radius: 20px;
  @include mixins.mq(tablet) {
    gap: 20px;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
    & div {
      display: flex;
      align-items: baseline;
      gap: 20px;
    }
  }
}

.text {
  text-transform: lowercase;
  font-weight: 700;
  font-size: 14px;
  &::first-letter {
    text-transform: uppercase;
  }
}

.line {
  width: 1px;
  height: 70px;
  border: 1px solid #e0e5eb;
  @include mixins.mq(tablet) {
    height: 36px;
  }
}

.expenses {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 700;
  color: var(--expenses-color);
}

.income {
  composes: expenses;
  color: var(--income-color);
}
