@use 'styles/mixins';

.textFormHead {
  text-align: center;
  text-transform: initial;
}

.textFormCommit {
  margin-top: 30px;
  min-width: 230px;

  text-align: left;
  text-transform: initial;
}

.textFormEmail {
  margin-top: 15px;
  margin-bottom: 10px;

  text-align: left;
  text-transform: initial;

  @include mixins.mq(tablet) {
    margin-top: 20px;
  }
}

.textFormPassword {
  margin-top: 20px;
  margin-bottom: 10px;

  text-align: left;
  text-transform: initial;

  @include mixins.mq(tablet) {
    margin-top: 30px;
  }
}

.textHomeReports {
  text-transform: initial;

  color: var(--third-text-color);
}

.textHomeBalance {
  margin-top: 45px;
  margin-bottom: 15px;

  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: initial;

  color: var(--third-text-color);
}

.textModal {
  margin: 20px auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: center;
}