@use 'styles/mixins';

.overlay {
    @include mixins.mq(tablet) {
        margin: 40px auto 0px auto;

        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 725px;

    }

    @include mixins.mq(desktop) {
        width: 1098px;
    }
}

.overlayBalance {
    @include mixins.mq(tablet) {
        display: flex;
        align-items: center;
        gap: 20px;

    }
}

.overlayCalendar {
    @include mixins.mq(tablet) {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // gap: 5px;

    }
}