@use 'styles/mixins';

.wrappTop {
  margin-bottom: 32px;
  @include mixins.mq(tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
  }
}

.arrowWrap {
  display: flex;
  align-items: center;
  gap: 15px;
  @include mixins.mq(mobile-only) {
    margin-bottom: 20px;
  }
  & svg {
    width: 26px;
    height: 24px;
  }
  & p {
    text-transform: lowercase;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
