@use 'styles/mixins';

.homeBottom {
    display: none;

    @include mixins.mq(tablet) {
        position: relative;
        bottom: 50px;

        display: block;

        margin-left: 83px;

        text-align: left;

        z-index: -1;
    }

    @include mixins.mq(desktop) {
        bottom: 0px;

        margin: 60px 0px 0px 140px;
    }
}