@use 'styles/mixins';

.wrapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.switcher {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  & p {
    font-weight: 700;
    font-size: 14px;
  }

  & button {
    background-color: inherit;
    padding: 5px;
  }
}

.list {
  max-width: 623px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  & .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3);
    @include mixins.mq(tablet) {
      width: calc(100% / 6);
      &:first-child {
        margin-bottom: 40px;
      }
    }
  }
  & .line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e0e5eb;
    margin: 20px 0;
  }
}

.iconWrap {
  position: relative;
  z-index: 5;
  width: 56px;
  height: 56px;
  margin: 8px 0;
  color: #f5f6fb;
  &:hover {
    color: #ffdac0;
  }
  & svg {
    position: relative;
    z-index: 4;
  }
  & svg:hover {
    fill: #ff751d;
  }
}

.Rectangle svg {
  position: absolute;
  z-index: 1;
  top: 11px;
  left: 0;
  fill: currentColor;
  opacity: 0.8;
}
