@use 'styles/mixins';

.btn {
  margin-top: 30px;

  display: flex;
  gap: 10px;

  text-transform: initial;

  background-color: transparent;

  cursor: pointer;

  @include mixins.mq(tablet) {
    width: 200px;
  }
}