@use './mixins';

@import 'common';
@import 'container';
@import 'react-datepicker';
@import 'reset';

:root {
    --font-family: "Roboto", Sans-serif;

    --background-color: #ffffff;
    --second-background-color: #F5F6FB;

    --accent-color: #FF751D;
    --second-accent-color: #FED9BF;

    --text-color: #52555F;
    --text-color-invert: #ffffff;
    --second-text-color: #000000;
    --third-text-color: rgba(82, 85, 95, 0.7);
    --accent-text-color: #E7192E;

    --text-size: 12px;
    --line-height: 1.17;
    --letter-spacing: 0.04em;

    --text-transform: uppercase;

    --border-color: #E0E5EB;

    --btn-color: #F5F6FB;
    --btn-hover: #FF751D;
    --second-btn-hover: #de6418;

}

body {
    font-family: var(--font-family);
    font-size: var(--text-size);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);

    color: var(--text-color);
    text-transform: var(--text-transform);


    &.no-scroll {
        overflow: hidden;
    }
}

#root {
    max-width: 1440px;
    min-height: 100vh;

    margin: 0 auto;
}