@use 'styles/mixins';

.hamburger-menu_nav {
  position: fixed;
  top: 60px;
  left: 0px;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);

  padding: 40px 20px;

  height: calc(100% - 50px);
  width: 100vw;

  z-index: 20;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  font-size: var(--text-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);

  background-color: var(--color-bg);
  overflow-y: auto;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;

  @include mixins.mq(tablet) {
    top: 60px;
  }
}

.is-active .hamburger-menu_nav {
  transform: translateX(0);
  transition: 0.4s;
}

.hamburger-menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 25px;

  margin-bottom: 60px;
}

.hamburger-menu_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hamburger-menu_mobile address {
  margin-bottom: 10px;
}

.hamburger-address_item {
  font-family: var(--font-family-light);
  font-size: 10px;
  font-weight: 300;

  @include mixins.mq(tablet) {
    font-size: var(--text-size);
  }
}

.activeLink {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: currentColor;
    color: var(--text-color);
    height: 1px;
    bottom: -6px;
    transition: width 0.2s;
    pointer-events: none;
  }
}

.link {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0%;
    background-color: currentColor;
    height: 1px;
    bottom: -6px;
    -webkit-transition: width 0.2s;
    -o-transition: width 0.2s;
    transition: width 0.2s;
    pointer-events: none;
  }

  &:hover:after,
  :focus:after {
    width: 100%;
    color: var(--text-color);
  }
}
