.wrap {
  padding-top: 50px;
  & text {
    text-transform: initial;
  }
}

.name {
  letter-spacing: 0.02em;
  fill: var(--text-color);
  text-transform: initial;
}

.price {
  letter-spacing: 0.02em;
  fill: var(--text-color);
}
