.iconProductList {
    grid-area: icon;

    display: grid;
    justify-items: end;
    align-items: center;

    cursor: pointer;
}

.iconProductList:hover svg {
    fill: var(--btn-hover)
}

.iconProductList:focus svg {
    fill: var(--btn-hover)
}

.iconTransactionTable {
    cursor: pointer;
}

.iconTransactionTable:hover svg {
    fill: var(--btn-hover)
}

.iconTransactionTable:focus svg {
    fill: var(--btn-hover)
}

.iconAccount {
    cursor: pointer;
}

.iconAccount:hover svg {
    fill: var(--btn-hover)
}

.iconAccount:focus svg {
    fill: var(--btn-hover)
}