.overlay {
    position: absolute;
    top: 140px;
    left: 50px;

    padding: 30px;

    min-width: 180px;
    height: 150px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    color: var(--text-color-invert);
    background: linear-gradient(117.84deg, #1D346A 2.84%, #031634 67.28%);
    border-radius: 30px;

    z-index: 10;

    &::before {
        content: "";
        position: absolute;
        top: -7px;
        left: 25%;

        width: 1px;
        height: 0;

        border: 8px solid transparent;
        border-bottom: 8px solid #1D346A;
        border-top: none;
        box-sizing: content-box;

        z-index: 2;
    }
}