@use 'styles/mixins';

.btn {
    max-width: 116px;
    height: 44px;

    font-weight: 700;
    letter-spacing: var(--letter-spacing);
    text-transform: var(--text-transform);


    background-color: var(--btn-color);
    color: var(--text-color);
    border-color: transparent;
    box-shadow: 1px 3px 5px rgba(82, 85, 95, 0.15);

    border-radius: 16px;

    &:hover,
    :focus {
        background-color: var(--btn-hover);
    }

    @include mixins.mq(tablet) {
        max-width: 122px;
    }
}