@use 'styles/mixins';

.btn {
    margin: 50px auto 0px auto;

    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    font-family: var(--font-family);
    font-weight: 900;
    font-size: var(--text-size);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);

    color: var(--text-color);

    background: var(--second-background-color);

    @include mixins.mq(tablet) {
        margin: 0px;

        width: 200px;

        justify-content: flex-start;

        background: var(--background-color);

    }
}

.btnReport {
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    background: var(--second-background-color);

    @include mixins.mq(tablet) {
        width: 130px;
    }
}

.reportCalendar {
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @include mixins.mq(tablet) {
        gap: 5px;
    }
}