.wrap {
  margin-bottom: 32px;
  & input {
    font-weight: 700;
    font-size: 14px;
    // font-family: 'Roboto';
    border: none;
    background-color: inherit;
    width: 130px;
    text-align: center;
    text-transform: uppercase;
  }
}

.CurrentPeriod {
  margin-bottom: 5px;
  text-transform: lowercase;
  color: var(--text-color);
  opacity: 0.7;
  &::first-letter {
    text-transform: uppercase;
  }
}
