@use 'styles/mixins';

.header {
    padding: 13px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--background-color);

    z-index: 100;
}

.headerFixed {
    position: fixed;
    top: 0;
    width: 100vw;

    padding: 13px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--background-color);
    box-shadow: 0px 5px 5px rgb(170 178 197 / 20%);

    z-index: 100;

    @include mixins.mq(desktop) {
        max-width: 1440px;
    }
}