.arrowWrap {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  & svg {
    width: 26px;
    height: 24px;
  }
  & p {
    text-transform: lowercase;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
