.overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(180deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .4), rgba(0, 0, 0, .8));

    z-index: 1200;
}

.modal {
    position: relative;

    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 24px);

    padding: 40px;

    background: var(--background-color);
    box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);

    border-radius: 30px;
}