@use 'styles/mixins';

.section {
  padding: 0px 20px;
}

.sectionHome {
  height: 526px;
  position: relative;

  padding: 0px 20px;

  background-image: url('../../../images/background/backg.png');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}