@use 'styles/mixins';

.section {
  position: relative;

  padding: 0px 20px;

  background-image: url('../../../images/background/backg.png');
  background-size: 1280px 286px;
  background-position: top left;
  background-repeat: no-repeat;

  text-align: center;

  overflow: hidden;

  @include mixins.mq(tablet) {
    background-size: 1440px 526px;
  }

  @include mixins.mq(desktop) {
    padding: 0px 90px 80px 90px;

    background-size: 1440px 526px;
  }
}

.sectionMarg {
  position: relative;

  margin-top: 60px;
  padding: 0px 20px;
  padding-bottom: 55px;


  background-image: url('../../../images/background/backg.png');
  background-size: 1280px 286px;
  background-position: top left;
  background-repeat: no-repeat;

  text-align: center;

  overflow: hidden;

  @include mixins.mq(tablet) {
    padding-bottom: 0px;


    background-size: 1440px 526px;
  }

  @include mixins.mq(desktop) {
    padding: 0px 90px 80px 90px;

    background-size: 1440px 526px;
  }
}