@use 'styles/mixins';

.form {
    @include mixins.mq(tablet) {
        padding-left: 35px;

        display: flex;
        align-items: center;
        gap: 15px;
    }

    @include mixins.mq(desktop) {
        padding: 0px;
    }
}