@use 'styles/mixins';

.wrapp {
  @include mixins.mq(tablet) {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-left: 170px;
  }
}

.wrapBorder {
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #ffffff;
  border-radius: 22px;

  & p {
    font-weight: 700;
  }
}

.balanceText {
  @include mixins.mq(tablet-before) {
    margin-bottom: 10px;
  }
}

.grey {
  text-transform: lowercase;
  font-weight: 500;
  &::first-letter {
    text-transform: uppercase;
  }
}

.black {
  text-transform: lowercase;
  color: var(--second-text-color);
  font-weight: 700;
  &::first-letter {
    text-transform: uppercase;
  }
}

.btn {
  background-color: inherit;
  color: var(--text-color);
  text-transform: uppercase;
}
