@use 'styles/mixins';

.overlay {
    position: fixed;
    bottom: 0;

    margin: 0 auto;

    width: 100%;

    display: flex;
    gap: 5px;
    justify-content: center;

    background: var(--background-color);

    @include mixins.mq(tablet) {
        position: relative;

        width: 725px;

        justify-content: flex-start;

        gap: 0px;

        background: none;
    }

    @include mixins.mq(desktop) {
        width: 1098px;
    }
}

.btnExpenInc {
    width: 100%;
    height: 55px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: var(--text-transform);

    background-color: var(--btn-color);
    color: var(--text-color);
    border-color: transparent;

    &:hover,
    :focus {
        background-color: var(--btn-hover);
        color: var(--text-color-invert);
    }

    @include mixins.mq(tablet) {
        margin-top: 60px;

        width: 140px;
        height: 40px;


        background: #FAFBFD;
        border-radius: 16px 16px 0px 0px;
    }
}

.active {
    color: var(--text-color-invert);
    background-color: var(--btn-hover)
}