@use 'styles/mixins';

.cabinetForm {
    max-width: 425px;

    margin: 40px auto 0px auto;
    padding: 20px;

    background: var(--background-color);
    box-shadow: 0px 10px 60px rgb(170 178 197 / 20%);
    border-radius: 30px;

    @include mixins.mq(tablet) {
        max-width: 550px;
    }
}

.form {
    margin-top: 10px;
}


.imgForm {
    display: flex;
    align-items: center;
    gap: 10px;
}

.names {
    display: flex;
    gap: 10px;
}

.name {
    width: 100%
}

.date {
    display: flex;
    gap: 5px;
}

.overlayBtns {
    display: flex;
    gap: 15px
}